/*GENERAL*/

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background: #FAFAFA;
    box-sizing: border-box;
}

/*CONTAINERS*/

#main_container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#banner_container,
#form_container {
    flex: 1 1 0;
    width: 50%;
}

#banner_container {
    text-align: right;
}

#banner_container img {
    margin-right: -15px;
}

#form_container {
    text-align: center;
}

/*LOGIN FORM*/

#form_box,
#register_container {
    background-color: #FFF;
    border: 1px solid #DBDBDB;
    width: 350px;
    margin-top: 30px;
}

#form_box #logo_insta {
    width: 175px;
    height: 51px;
    margin: 30px auto 12px;
    background: #FFF;
}

#login_form {
    margin-top: 20px;
}

#login_form input {
    display: block;
    width: 268px;
    padding: 12px 9px;
    border: 1px solid #DBDBDB;
    font-size: 12px;
    background-color: #FAFAFA;
    border-radius: 3px;
    margin: 5px auto;
    outline-color: #c9c9c9
}

#login_form input[type=submit] {
    color: #FFF;
    background-color: #B2DFFC;
    border-radius: 5px;
    margin-top: 15px;
    border-color: #B2DFFC;
    font-size: 13px;
    padding: 0;
    font-weight: bold;
    height: 30px;
}

/*SEPARATOR*/

.separator {
    position: relative;
}

.separator .line {
    border-top: 1px solid #DBDBDB;
    margin: 25px auto 35px;
    width: 268px;
}

.separator span {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    color: #BBB;
    text-transform: uppercase;
    left: 50%;
    margin-left: -25px;
    top: -6px;
    width: 50px;
}

/*FACEBOOK LOGIN*/

#facebook_login {
    margin-bottom: 25px;
}

#facebook_login img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

#facebook_login a {
    text-decoration: none;
    color: #385185;
    display: flex;
    align-items: center;
    justify-content: center;
}

#facebook_login span {
    font-weight: bold;
    font-size: 13px;
    margin-top: 1px;
}

/*FORGOT PASSWORD*/
#forgot_pass {
    margin-bottom: 20px;
    font-size: 12px;
}

#forgot_pass a {
    text-decoration: none;
    color: #373799;
}

/* SIGN UP */

#register_container {
    padding: 25px;
    margin-top: 10px;
}

#register_container {
    font-size: 14px;
    color: #262626;
}

#register_container a {
    text-decoration: none;
    font-weight: bold;
    color: #4A95F6;
}

/* GET APP */

#getapp_container {
    text-align: center;
    width: 350px;
}

#getapp_container p{
    font-size: 13px;
    margin: 20px 0;
}

#getapp_container a {
    text-decoration: none;
}

#getapp_container img {
    width: 136px;
    height: 40px;
}

/* FOOTER */

footer {
    text-align: left;
    margin: 50px auto;
    width: 1000px;
}

footer #footer_links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer #footer_links li {
    margin-right: 15px;
    margin-bottom: 10px;
    justify-content: center;
}

#footer_links a {
    text-decoration: none;
    color: #8E8E8E;
    font-size: 12px;
    font-weight: 400;
}

#copyright {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#copyright p {
    margin-top: 0;
    margin-right: 15px;
    font-size: 12px;
    color: #8E8E8E;
    font-weight: 400;
}

/* MOBILE */

@media(max-width: 450px) {

    #banner_container {
        display: none;
    }

    #main_container,
    #form_box {
        margin-top: 0;
    }

    #form_container,
    #form_box,
    #register_container,
    #getapp_container {
        width: 100%;
        border: none;
    }

    footer {
        width: 90%;
        text-align: center;
    }
} 