/*GENERAL*/

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background: #FAFAFA;
}

/*CONTAINERS*/

#main_container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#banner_container,
#form_container {
    flex: 1 1 0;
    width: 50%;
}

#banner_container {
    text-align: right;
}

#banner_container img {
    margin-right: -15px;
}